@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@500&family=Open+Sans:wght@300;600&display=swap");
@import "reset.css";
@import "variable.css";
@import "components/status-bar.css";
@import "screens/login.css";
@import body {
  font-family: "Open Sans", sans-serif;
}
