#friends-display-link {
  text-align: center;
  display: block;
  background-color: #fafafa;
  padding: 10px 0px;
  font-size: 18px;
  font-weight: 600;
}

#friends-display-link i {
  color: rgba(0, 0, 0, 0.3);
  margin-bottom: 10px;
}

.friends-screen {
  padding: 0px var(--horizontal-space);
}
