#friends-display-link {
  text-align: center;
  display: block;
  background-color: #fafafa;
  padding: 10px 0px;
  font-size: 18px;
  font-weight: 600;
  margin-top: -15px;
}

#friends-display-link i {
  color: rgba(0, 0, 0, 0.3);
  margin-bottom: 10px;
}

.friends-screen {
  padding: var(--horizontal-space);
}
.friends-screen_channel {
  border-top: var(--main-border);
  padding: 20px 0px;
}

.friends-screen_channel-header {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  color: rgba(0, 0, 0, 0.4);
  font-weight: 600;
}
