.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f9f9fa;
  padding: 20px 40px;
  box-sizing: border-box; /* do not allow padding increase box size*/
  border-top: 1px solid rgba(121, 121, 121, 0.3);
}
.nav__list {
  display: flex;
  justify-content: space-between;
}
.nav__link {
  position: relative;
  color: #2f363e;
}
@keyframes notificationanimation {
  0% {
    transform: none;
  }
  50% {
    transform: translateY(-5px) rotateY(180deg);
  }
  100% {
    transform: none;
  }
}
.nav__notification {
  position: absolute;
  left: 21px;
  bottom: 20px;
  animation: notificationanimation 3s ease-in-out infinite;
}
.nav__point {
  background-color: tomato;
  border-radius: 50%;
  height: 6px;
  width: 6px;
  position: absolute;
  left: 30px;
  bottom: 30px;
}

@keyframes appearbtnanimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: none;
  }
}
.nav__btn {
  transform: translateY(50px);
  opacity: 0;
  animation: appearbtnanimation 0.3s ease-in-out forwards;
}

.nav__btn:nth-child(2) {
  animation-delay: 0.25s;
}
.nav__btn:nth-child(3) {
  animation-delay: 0.5s;
}
.nav__btn:nth-child(4) {
  animation-delay: 0.75s;
}
