.screen-header {
  display: flex;
  padding: var(--horizontal-space);
  justify-content: space-between;
  align-items: center;
  margin: 15px 0px;
}
.screen-header__title {
  font-size: 32px;
  font-weight: bold;
}
.screen-header__icons span {
  margin: 0px 0px 0px 10px;
}

.screen-header__icons__cog {
  position: relative;
}

@keyframes rotatecog {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}
.screen-header__icons .fa-cog:hover {
  animation: rotatecog 3s linear infinite;
}
