.screen-header {
  display: flex;
  padding: var(--horizontal-space);
  justify-content: space-between;
  align-items: center;
}
.screen-header__title {
  font-size: 32px;
  font-weight: bold;
}
.screen-header__icons :nth-child(2) {
  margin: 0px 20px;
}
